---
import productsData from '../../data/products.json';
import type { Product } from '../../types/index';
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header';
import ProductOverview from '../../components/ProductOverview';
export const prerender = false;

const {handle} = Astro.params;

const products = productsData as unknown as Product[];

const product = products.find((product: Product) => product.handle === handle);

if (!product) {
    return Astro.redirect('/404');
}

const title = `${product.title}`;
// const tags = product.tags;

---

<Layout>
    <head>
        <title>{title}</title>
        <!-- <meta name="keywords" content={`${tags}`} />  -->
        <meta name="keywords" /> 
        <meta name="robots" content="index. follow"/>
    </head>
    <Header client:load hiddenCallToAction={true} />
    <div class="mt-10">
        <ProductOverview product={product} client:load />
    </div>
</Layout>

